@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100..900&family=Raleway:wght@100..900);


body {
    font-family: "Raleway", sans-serif;
    text-align: center;
}



/* Colours */






/* Headings */

header {
    background-color: #fad02c;
    padding: 30px;
    margin: 0px;
    position: relative;
}

.container-heading {

}

.heading {
   
}


.logo {
    background: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 360px;
    max-width: 360px;
}



h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

h4 {
   font-family: "Raleway", sans-serif;
   font-weight: 200; 
}



ul {
    float: none;
    position: relative;
    display: inline-block;
}



ul li {
    font-family: "Raleway", sans-serif;
    color: black;
}

ul li a {
    color: black;
}

/* Navbar */


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.nav-item {
    list-style: none;
    text-decoration: none;
}




/* FEATURES */

.feature {
    padding: 5px;
}


/* FOOTER */

.footer-note {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
