@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100..900&family=Raleway:wght@100..900);

body {
    text-align: center;
    font-family: "Raleway", sans-serif;
}


/* Colours */




/* Buttons */

.btn {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 5em;
    border-radius: 1em;
}



.btn-search {
    width: 5em;
}

.btn-subscribe {
    width: 10em;
}



/* Headings */

header {
    background-color: #fad02c;
    padding-bottom: 0;
    margin: 0;
}



/*

header img {
    position: relative;
    max-width: 50%;
    max-height: 50%;
}

.container-heading {

}

.heading {
   
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

*/

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

h4 {
   font-family: "Raleway", sans-serif;
   font-weight: 200; 
   padding: 20px;
}



/* Navbar */


.navbar {
    border: none;
    background-color: #fad02c;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}



.nav-item {
    list-style: none;
    padding: 10px;
    font-weight: 500;
}



.nav-link {
    text-align: center;
    color: black;
    padding: 5px;}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    padding: 3px;
}

.nav-link i:hover {
    color: #fad02c;
}

.top-icon {
    font-size: 30px;
}



.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    color: black;
 }

 .dropdown-menu {
    background-color: #fff);
    color: black;
    border: none;
 }
 
 .dropdown-menu a {
    font-size: 20px;
    padding: 5px 10px;
 }

 .dropdown-item:hover {
     color: black;
     background-color: rgba(0, 0, 0, 0.1);
     text-decoration: underline;
 }

 .dropdown-toggle::after {
    border-right: 0;
    border-left: 0;
 }


ul li {
    font-family: "Raleway", sans-serif;
    color: black;
}

ul li a {
    color: black;
}


/* CALLOUT */

.callout-section {
    color: white;
    background-image: url(../images/roast-veg.jpeg);
    background-size: cover;
    background-repeat: none;
    width: auto;
    height: 20em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout-img {
    width: 360px;
    height: 360px;
    background-image: url(../images/roast-veg.jpeg);
    background-size: contain;
    background-repeat: none;
    overflow: hidden;
}

.callout-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3em;
    padding: 10px;
}

.callout-text h1, p {
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}



/* FEATURES */

.feature {
    padding: 0;
    margin: 0;
    position: relative;
}
.feature img {
    max-width: 75%;
    border-radius: 5em;
}

.feature-heading {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* BUTTONS*/

.feature-btn {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px 5px;
    margin: 10px;
}

.feature-btn:hover {
    background-color: #fad02c;
    color: white;
}


/* RECIPE CONTENT */

.recipe-img {
    width: fit-content;
    height: fit-content;
}

section.container-fluid.recipe-container {
   text-align: left;
}

/* ABOUT */

div.about img {
    padding: 10px;
}

div.about p {
    padding: 20px 80px;
    text-align: justify;

}

/* CONTACT FORM */

.contact-form {
    padding-bottom: 30px;
}

.contact-form a {
    color: black;
}

.contact-form a:hover {
    color: #fad02c;
}

/* FOOTER */

footer {
    background-color: rgb(196, 196, 196);
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
}

.general-sub {
    padding-top: 10px;
}



.btn:hover {
    background-color: #fad02c;
    color: white;
}

footer div h5 {
    text-align: center;
    color: black;
}

.navbar-footer {
    justify-content: left;
}



.footer-note {
    margin: 0;
    padding: 20px;
    text-align: center;
}


ul {
    list-style: none;
}


/* ICONS */

.fa-download:hover {
    color: #fff;
}


.social-icon {
    font-size: 30px;
}

.social-icon:hover {
    color: #fad02c;
}


.fa-arrow-to-top:before {
    content: "\f341";
    font-size: 50px;
}

.fa-arrow-to-top:hover {
    color: #fad02c;
}


