@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100..900&family=Raleway:wght@100..900);


/* Colours */

body {
    text-align: center;
}

/* Buttons */

.btn {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20%;
}


/* Headings */

header {
    background-color: #fad02c;
    padding-bottom: 0;
    margin: 0;
}

/*

header img {
    position: relative;
    max-width: 50%;
    max-height: 50%;
}

.container-heading {

}

.heading {
   
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

*/

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

h4 {
   font-family: "Raleway", sans-serif;
   font-weight: 200; 
}



/* Navbar */




.navbar {
    border: none;
    background-color: #fad02c;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}





.nav-item {
    list-style: none;
    padding: 5px;
}



.nav-link {
    text-align: center;
    color: black;
    padding: 5px;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    padding: 3px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
 }

 .dropdown-item:hover {
     color: white;
     background-color: transparent;
     text-decoration: underline;
 }



ul li {
    font-family: "Raleway", sans-serif;
    color: black;
}

ul li a {
    color: black;
}





/* FEATURES */

.feature {
    padding: 0;
    margin: 0;
    position: relative;
}
.feature img {
    max-width: 75%;
}

.feature-heading {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* BUTTONS*/

.feature-btn {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px 5px;
    margin: 10px;
}

.feature-btn:hover {
    background-color: #fad02c;
    color: white;
}


/* FOOTER */

footer {
    background-color: rgb(196, 196, 196);
    padding: 0;
    margin: 0;
}

.general-sub {
    padding-top: 10px;
}



.btn:hover {
    background-color: #fad02c;
    color: white;
}


.footer-note {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

