@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100..900&family=Raleway:wght@100..900);

/*

/* Colours */






/* Headings */

/* 
.logo {
    background: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 360px;
}
*/

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

/*

ul {
    float: right;
    position: relative;
    display: inline-block;
}

*/

ul li {
    font-family: "Raleway", sans-serif;
    color: black;
}

ul li a {
    color: black;
}

/* Navbar */

/* 
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #fad02c;
}

.nav-item {
    list-style: none;
    text-decoration: none;
}

*/


/* Features */

.features {
   
}